{
  "db": {
    "host": "127.0.0.1:3306",
    "username": "root",
    "password": "secret",
    "dbname": "example",
    "initStatements": "SET NAMES utf8",
    "model": "mysql4",
    "type": "pdo_mysql",
    "pdoType": [],
    "active": "1"
  },
  "dbOld": {
    "host": "localhost",
    "username": "root",
    "password": "",
    "dbname": "example_old",
    "initStatements": "SET NAMES utf8",
    "model": "mysql4",
    "type": "pdo_mysql",
    "pdoType": [],
    "active": "0"
  },
  "web": "/var/www/example",
  "webLogs": "/var/log/example",
  "webWin": "C:\\www\\example",
  "webLogsWin": "C:\\log\\example"
}
