{
  "db":
  {
    "host": {{ host.db }},
    "username": {{ username.db }},
    "password": {{ password.db }},
    "dbname": {{ dbname.db }},
    "initStatements": {{ initStatements.db }},
    "model": {{ model.db }},
    "type": {{ type.db }},
    "pdoType": {{ pdoType.db }},
    "active": {{ active.db }}
  },

  "dbLocal":
  {
    "host": {{ host.dbLocal }},
    "username": {{ username.dbLocal }},
    "password": {{ password.dbLocal }},
    "dbname": {{ dbname.dbLocal }},
    "initStatements": {{ initStatements.dbLocal }},
    "model": {{ model.dbLocal }},
    "type": {{ type.dbLocal }},
    "pdoType": {{ pdoType.dbLocal }},
    "active": {{ active.dbLocal }}
  },

  "webLogs": {{ root.webLogs }},

  "web": {{ root.web }}
}
